.App {
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

.Sidebar{
  height: 100%;
  width: 285px;
  background-color: #EDF7FC;
}

.SidebarList{
  height:100%;
  width: 100%;
  background-color: #DAF2F6;
}


